.card__title {
    max-width: 413px;
}

.card__image {
    height: 413px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    margin-bottom: 12px;
}

.card__content {
 display: flex;
 align-items: center;
 justify-content: space-between;   
}

.card__like-btn {
    background-image: url(../images/Like\ Icon.svg);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: 0.8;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 627px) {
    .card__image {
        height: 288px;
    }
}