.profile {
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px solid #21212166;
}

.profile__avatar {
    height: 190px;
    width: 190px;
    margin-right: 20px;
    border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;  
}

.profile__name {
    margin: 0 0 12px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1px;
    background-color: #212121;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;
 }


.profile__description {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    background-color: #212121b2;
     text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
     max-width: 420px;
}

.profile__edit-btn {
margin-top: auto;
}

.profile__add-btn {
    margin-top: auto;
}    

@media screen and (max-width: 627px) {
 .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
 }   
}

 .profile__avatar {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
    margin-right: 0px;
 }

 .profile__column {
    text-align: center;
    margin-right: 0;
}

 .profile__name {
    margin-bottom: 6px;
    font-size: 16px;
    max-width: 288px;
 }

 .profile__description {
   margin-bottom: 32px;
   font-size: 16px;
   max-width: 288px;
 }

 
.profile__add-btn {
    margin-left: 0;
   max-width: 288px;
   width: 100%;
}
