.profile {
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px solid #21212166;
}

.profile__avatar {
    height: 190px;
    width: 190px;
    margin-right: 20px;
    border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
    margin: 0 0 12px;
    font-weight: 500;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;
 }


.profile__description {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
     max-width: 420px;
}

.profile__edit-btn {
    margin-top: auto;
    background-color: transparent;
    border: 1px solid #212121;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
}

.profile__add-btn {
    margin-top: auto;
    background-color: transparent;
    border: 0px solid #212121;
    padding: 8px 16px;
    border-radius: 1;
    font-size: 14px;
}

@media screen and (max-width: 627px) {
 .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
 }
}

 .profile__avatar {
    width: 190px;
    height: 190px;
    margin-bottom: 12px;
 }

 .profile__column {
    text-align: center;
    margin-right: 0;
    align-items: center;
}

 .profile__name {
    margin-bottom: 6px;
    font-size: 32px;
    max-width: 420px;
 }

 .profile__description {
   margin-bottom: 97px;
   font-size: 16px;
   max-width: 288px;
   margin-right: auto;
 }


.profile__add-btn {
   margin-left: auto;
   max-width: 149px;
   width: 100%;
}